PORT=7777
CORS_ORIGIN=http://localhost:5173
DATABASE_URL=postgres://postgres:password@localhost:5432/RSVPd
JWT_SECRET=change_me
JWT_EXPIRES=7d
QR_HMAC_SECRET=change_me
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=

ALLOW_DB_INIT_IN_PROD=true
ALLOW_DB_RESET_IN_PROD=true 
DB_USER=postgres
DB_HOST=localhost
DB_PASSWORD=password
DB_PORT=5432
DB_NAME=RSVPd